{
    "presets": ["@babel/env", "@babel/preset-react"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-regenerator",
        "@babel/plugin-syntax-dynamic-import"
    ]
}